<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Artistas</title>
</head>
<body>
    <h1>Artistas</h1>

    <a href="/artista/create">Nuevo Artista</a>
    <% if (artistas && artistas.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Género Musical</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% artistas.forEach(artista => { %>
                    <tr>
                        <td><%= artista.id_artista %></td>
                        <td><%= artista.nombre_artista %></td>
                        <td><%= artista.genero_musical %></td>
                        <td>
                            <a href="/artista/<%= artista.id_artista %>/edit" title="Editar">Editar</a>
                            <form action="/artista/<%= artista.id_artista %>?_method=DELETE" method="post">
                                <button type="submit" title="Eliminar" onclick="confirmarEliminacion(event, 'artista')">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No hay artistas disponibles.</p>
    <% } %>
</body>
<script> 
    // Confirmar eliminación
    function confirmarEliminacion(event, tipo) {
      if (!confirm(`¿Está seguro que desea eliminar este ${tipo}?`)) {
        event.preventDefault();
      }
    }
  </script>
</html>
