<%- include('../../../partials/admin/header') %>
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="ml-4">
                <%= title %>
            </h2>
            <a href="/admin/artista/create" class="btn btn-success mx-3">
                Nuevo Artista
            </a>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                <% if (artistas && artistas.length> 0) { %>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Género</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% artistas.forEach(artista=> { %>
                                    <tr>
                                        <th>
                                            <%= artista.id_artista %>
                                                </td>
                                        <td>
                                            <%= artista.nombre_artista %>
                                        </td>
                                        <td>
                                            <%= artista.genero_musical %>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <a href="/admin/artista/<%= artista.id_artista %>/edit"
                                                    class="btn btn-warning btn-sm mx-1" data-toggle="tooltip"
                                                    title="Editar">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <form action="/admin/artista/<%= artista.id_artista %>?_method=DELETE"
                                                    method="post" class="d-inline">
                                                    <button type="submit" class="btn btn-danger btn-sm mx-0"
                                                        data-toggle="tooltip" title="Eliminar"
                                                        onclick="confirmarEliminacion(event, 'artista')">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <% } else { %>
                        <p>No hay artistas disponibles.</p>
                        <% } %>
            </div>
        </div>
    </div>
    <%- include('../../../partials/admin/footer', { title }) %>